@model SinalizacaoViewModel

@{
    ViewBag.Title = "Sinalização";
    ViewBag.SubTitle = "Criar nova sinalização";
}
<form asp-controller="Sinalizacao"
      asp-action="Add"
      data-ajax-mode="replace"
      data-ajax-update="#lista-sinalizacoes"
      data-ajax-complete="ResetFormSinalizacao"
      data-ajax="true"
      data-ajax-method="POST"
      id="form-nova-sinalizacao">

    <div class="form-group">
        <label asp-for="Descricao">Descrição:</label>
        <div class="input-group">
            <input class="form-control" type="text" asp-for="Descricao" />
            <span asp-validation-for="Descricao"></span>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>  Salvar</button>
                <button class="btn btn-default btn-cancelar-sinalizacao" type="button"><i class="fa fa-close"></i>  Cancelar</button>
            </span>
        </div>
    </div>
</form>
