@model IEnumerable<OrganizacaoViewModel>

<div class="form-group">
    <select class="form-control" id="interessadoOrgao" asp-items="@(new SelectList(Model,"guid","NomeSigla"))">
        <option>Selecione um Órgão</option>
    </select>
</div>
<div class="form-group" id="interessadoUnidade">
</div>