@model IEnumerable<RascunhoProcessoViewModel>
@{
    ViewBag.Title = "Rascunhos de Processo";
    ViewBag.SubTitle = "Meus Rascunhos";
}

<div >

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.SubTitle</h3>
            <div class="box-tools pull-right">
                <a asp-action="Editar" asp-controller="Rascunho" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Novo Processo
                </a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="table-rascunhos-processo" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RESPONSÁVEL</th>
                        <th>ATIVIDADE</th>
                        <th>RESUMO</th>
                        <th class="text-center col-md-2">AÇÕES</th>
                    </tr>
                </thead>
                <tbody id="listaRascunhos">
                    @Html.Partial("RascunhosListaPorOrganizacao", Model)
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>    
</div>

@section scripts{
    <script src="~/js/rascunhoListaPorOganizacao.js"></script>    
}