@model IEnumerable<RascunhoProcessoViewModel>
@{
    ViewBag.Title = "Rascunhos";
    ViewBag.SubTitle = "Rascunhos de Processo";
}

<div id="listaRascunhos">
    @Html.Partial("RascunhosListaPorOrganizacao", Model)
</div>

@section scripts{
    <script src="~/js/rascunhoListaPorOganizacao.js"></script>
}