@model InteressadoPessoaFisicaViewModel

<div class="form-group">
    <label asp-for="Cpf"></label>
    <input class="form-control" asp-for="Cpf" />
</div>

<div class="form-group">
    <label asp-for="Nome"></label>
    <input class="form-control" asp-for="Nome"/>    
</div>

<div class="form-group">
    <label asp-for="UfMunicipio"></label>
    <input class="form-control" asp-for="UfMunicipio" />
</div>

<div class="form-group">
    <label asp-for="GuidMunicipio"></label>
    <input class="form-control" asp-for="GuidMunicipio" />
</div>