@model RascunhoProcessoViewModel

<form id="forminteressados">
    <div class="form-group">
        <label>Tipo de Interessado</label>
        <select id="interessadoTipo" class="form-control">
            <option>Selecione um tipo de interessado</option>
            <option value="1">Órgão da Gestão Estadual</option>
            <option value="2">Pessoa Jurídica</option>
            <option value="3">Pessoa Física</option>
        </select>
    </div>
    <div id="formInteressado">
        @Html.Partial("RascunhoInteressadosLista",Model.interessadosRascunho)
    </div>
    <div class="box-footer">
        <div class="btn-group pull-right">
            <button type="reset" class="btn btn-default" onclick="LimparFormBasico()"><i class="fa fa-trash"></i> Limpar</button>
            <button type="button" id="btnAddInteressado" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Adicionar</button>
        </div>
    </div>
</form>