@if(User.Identity.IsAuthenticated){
    var claim = User.Claims;

<a href="#" class="dropdown-toggle" data-toggle="dropdown">    
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @claim.First(a => a.Type == "nome").Value</span>
</a>
<ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">        
        <i class="fa fa-user-circle-o fa-5x text-aqua" aria-hidden="true"></i>
        <p>
            @claim.First(a => a.Type == "nome").Value
            <small>@claim.First(a => a.Type == "email").Value</small>
        </p>
    </li>    
    <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">TROCAR PERFIL</a>
        </div>
        <div class="pull-right">
            <a asp-action="Sair" asp-controller="Inicio"  class="btn btn-default btn-flat">SAIR</a>
        </div>
    </li>
</ul>

}
else
{
    <a asp-action="Login" asp-controller="Inicio" class="info-box-text">        
        <span class="hidden-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Login</span>
    </a>
}