@model RascunhoProcessoViewModel

<form id="formTipoInteressados">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="GuidOrganizacao" />
        <label>Tipo de Interessado</label>
        <select id="interessadoTipo" class="form-control">
            <option>Selecione um tipo de interessado</option>
            <option value="1">Órgão da Gestão Estadual</option>
            <option value="2">Pessoa Jurídica</option>
            <option value="3">Pessoa Física</option>
        </select>
    </div>
</form>

<div id="formInteressado">
</div>

<div id="listainteressados">
    @Html.Partial("~/Views/RascunhoInteressado/RascunhoInteressadosLista.cshtml", Model.InteressadosRascunho)
</div>