@model RascunhoProcessoViewModel

<div class="box-header with-border">
    <div class="pull-right">
        <a class="btn btn-info btn-sm" role="button" data-toggle="collapse" href="#collapseNovoInteressado" aria-expanded="false" aria-controls="collapseNovoInteressado">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo
        </a>
    </div>
</div> 

<div class="collapse" id="collapseNovoInteressado">
    <form id="formTipoInteressados">
        <div class="box-body">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="GuidOrganizacao" />
                <label>Tipo de Interessado</label>
                <select id="interessadoTipo" class="form-control">
                    <option>Selecione um tipo de interessado</option>
                    <option value="1">Órgão da Gestão Estadual</option>
                    <option value="2">Pessoa Jurídica</option>
                    <option value="3">Pessoa Física</option>
                </select>                
            </div>
        </div>
    </form>

    <div id="formInteressado">
    </div>

    <hr />
</div>

<div id="listainteressados">
    @Html.Partial("~/Views/RascunhoInteressado/RascunhoInteressadosLista.cshtml", Model.InteressadosRascunho)
</div>