@model RascunhoDespachoViewModel

<form id="form-dados-basicos"
      asp-controller="RascunhoDespacho"
      asp-action="Update"
      method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Id"></label>
        <input class="form-control" type="text" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Texto"></label>
        <textarea class="form-control" rows="5" asp-for="Texto"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="GuidOrganizacao"></label>
        <select class="form-control" asp-for="GuidOrganizacaoDestino" asp-items="@(new SelectList(Model.ListaOrganizacoes,"Guid","NomeSigla"))">
            <option value="0">Selecione uma organizacao</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GuidUnidadeDestino"></label>
        @if (Model?.ListaUnidades?.Count() > 0)
        {
            <select class="form-control" asp-for="GuidUnidadeDestino" asp-items="@(new SelectList(Model.ListaUnidades,"Guid","NomeSigla"))"></select>
        }
        else
        {
            <select class="form-control" asp-for="GuidUnidadeDestino"></select>
        }
    </div>
    <div class="box-footer">
        <div class="btn-group pull-right">
            <button type="reset" class="btn btn-default" onclick="LimparFormBasico()"><i class="fa fa-close"></i> Limpar</button>
            <button class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
        </div>
    </div>
</form>