body {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.user-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    background:#fff;
    border-top: 2px solid #eee;
}

.skin-blue .sidebar-form {
    margin: 11px 10px;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.checkbox + .checkbox, .radio + .radio {
    margin-top: 0;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}

.border {
    border: 1px solid #ddd;
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;    
    padding-left: 0;
    float: left;
    display: block;
}

#modalLoad .modal-dialog{
    color:#fff;
    top: 45%;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}